/* Referenced from https://gander.wustl.edu/~wilson/store/yui/docs/cssbase/#:~:text=CSS%20Base%20is%20an%20optional,library%20for%20styling%20HTML%20elements. */
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.11.0/build/cssbase/cssbase-min.css">

/* Used week 4's example */
@layer base {
  body {
    @apply dark:bg-black dark:text-white;
  }

  a {
    @apply text-blue-400 underline;
  }

  li {
    @apply list-none;
  }

  h1 {
    @apply my-4 text-center text-2xl font-black;
  }

  h2 {
    @apply my-2 text-center text-xl font-bold;
  }

  h3 {
    @apply my-2 text-center text-lg font-bold;
  }

  nav {
    @apply my-4;
  }

  main {
    @apply container mx-auto mt-16;
  }

  button[type="button"],
  button[type="submit"] {
    @apply rounded bg-blue-400 px-4 py-2 text-white transition-colors hover:bg-blue-600;
  }

  form {
    @apply flex flex-col items-center gap-4;
  }

  label {
    @apply sr-only;
  }

  input[type="text"],
  input[type="email"] {
    @apply rounded;
  }

  p {
    @apply text-center;
  }
}
