@import url ("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  font-family: 'Noto Sans TC', sans-serif;
};

html, body {
  height: 100%;
};

body {
  background-attachment: fixed;
  background-color: aliceblue;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
};

main {
  flex:auto;
};

/* hidden questions */
#questions,
#final_answer,
#high_scores,
#correctwrong {
  display: none;
};

