:root {
  --bs-primary: #0d6efd;
  --bs-info: #0dcaf0;
  --bs-success: #198754;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-body-font-family: var(--bs-font-sans-serif);
};

.navbar {
  background-color: var(--bs-info);
}