@import url ("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  --main-bg-color: rgb(255, 255, 255);
  --secondary-bg-color: rgb(71, 179, 71);
  --ternary-bg-color: rgb(241, 243, 243);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  height: 100%;
}

header {
  background-color: var(--ternary-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--main-bg-color);
  flex: auto;
}

.container {
  display: block;
  height:auto;
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

footer {
  align-items: baseline;
  color: rgb(27, 26, 26);
  font-size: 1em;
}

/* hidden questions */
#questions,
#final_answer,
#high_scores,
#correctwrong {
  display: none;
};

li.nobullets {
  list-style-type: none;
};

.answerBtn,
.answerBtn:active,
.answerBtn:active:focus,
.answerBtn:focus,
.answerBtn:hover {
  background-color: green;
  box-shadow: none;
  outline: none;
};

/* media query to allow adjustment to screen on mobile, desktop, tablet, etc. */
@media screen and (max-width:650px) html {
  font-size: 12px;
}

