@import url ("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  --main-bg-color: rgb(160, 195, 226);
  --secondary-bg-color: rgb(71, 179, 71);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  height: 100%;
}

header {
  background-color: rgb(176, 180, 180);
  margin: rem;

}
main {
  flex:auto;
};

/* hidden questions */
#questions,
#final_answer,
#high_scores,
#correctwrong {
  display: none;
};

li.nobullets {
  list-style-type: none;
};

.answerBtn,
.answerBtn:active,
.answerBtn:active:focus,
.answerBtn:focus,
.answerBtn:hover {
  background-color: green;
  box-shadow: none;
  outline: none;
};

/* media query to allow adjustment to screen on mobile, desktop, tablet, etc. */
@media screen and (max-width:650px) html {
  font-size: 12px;
}

