@import url ("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  --main-bg-color: white;
  --secondary-bg-color: green;
  --ternary-bg-color: rgb (205, 192, 192);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  height: 100%;
}

header {
  background-color: var(--ternary-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--main-bg-color);
  flex: auto;
}

.container {
  display: block;
  height:auto;
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

h1 {
 align-items: center;
}

footer {
  align-items: baseline;
  color: black;
  font-size: 1em;
}

/* hidden items */
#startquiz,
#questions,
#answer1,
#answer2,
#answer3,
#answer4,
#gameOver,
#finalScore,
#save,
#highScorePage,
#initials,
#scoreContainer,
#scoreHeader,
#scoreScore,
#tryAgain,
#clearScore,
 {
  display: none;
}

button,
button:active,
button:hover,
button:focus,
button:active:focus {
  background-color: var(--secondary-bg-color);
  box-shadow: none;
  outline: none;
}

/* media query to allow adjustment to screen on mobile, desktop, tablet, etc. */
@media screen and (max-width:650px) html {
  font-size: 12px;
}

